---
layout: default
---

<a href="/songs/{{ page.data.folder }}/">back</a>

{{ content }}

<div class="abc-player-bar" id="abc-player-bar">
  <div class="abc-player-bar__audio audio abcjs" id="page-audio"></div>
</div>
