---
layout: default
---

<nav><a href="/">Home</a></nav>

<h1>{{ page.data.title }}</h1>

{% assign songs_by_game = page.data.songs | group_by: "game" %}
{% for group in songs_by_game %}
  <h3>{{ group.name }}</h3>
  <ul class="list-group mb-3">
    {% for song in group.items %}
      <li class="list-group-item">
        <a href="{{ song.url }}">{{ song.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
